* {
  box-sizing: border-box;
}

@media screen and (min-width: 300px){
  body{
    background-color: rgb(178, 51, 0);
    -js-display:flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
  }

  header{
    background-color: rgba(255, 91, 25, .7);
    display:flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: .1rem .2rem;
    text-align: center;
    width: 100vw;
    span{
      font-size: 1.8rem;
      margin-left: .5%;
      a{
        color: rgba(0, 178, 150, .4);
      }
      a:visited{
        color: rgba(0, 178, 150, .4);
      }
    }
  }
  
  section{
    background-color: rgba(0, 178, 150, .8);
    border-radius: 5px;
    box-shadow: 3px 4px 2px 1px rgba(0, 0, 0, .7);
    height: 115vh;
    //flex setup
    -js-display:flex;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; //end flex
    margin-bottom: 1rem;
    padding: 1rem;
    width: 90vw;
    h1{
      font-family: 'Ruda', sans-serif;
      font-size: 36px;
      margin-bottom: 0;
      text-align: center;
      text-decoration: underline;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    }
    h3{
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
    .sizeBox{
      background-color: rgba(25, 255, 218, .4);
      border: 1px groove rgba(0, 0, 0, .7);
      border-radius: 5px;
      box-shadow: 3px 4px 2px 1px rgba(0, 0, 0, .7);
      padding: 1.5rem 2rem;
      width: 80vw;
      p{
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        text-align: center;
      }
      span{
        display: block;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, .4);
      }
      .span{
        display: inline;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;
      }
    }
    .trythis{
      font-size: .9rem;
    }
  }
}

@media screen and(min-width:768px ){
  body{
    background-color: rgb(178, 51, 0);
    -js-display:flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section{
    background-color: rgba(0, 178, 150, .8);
    height: 80vh;
    //flex setup
    -js-display:flex;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; //end flex
    margin-bottom: 0;
    padding: 1rem;
    width: 90vw;
    h1{
      font-family: 'Ruda', sans-serif;
      font-size: 48px;
      text-align: center;
      text-decoration: underline;
    }
    h3{
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
    }
    .sizeBox{
      background-color: rgba(25, 255, 218, .4);
      border: 1px groove rgba(0, 0, 0, .7);
      border-radius: 5px;
      box-shadow: 3px 4px 2px 1px rgba(0, 0, 0, .7);
      padding: 1.5rem 6rem;
      p{
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        text-align: center;
      }
      span{
        display: block;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 1px 1px rgba(0, 0, 0, .4);
      }
      .span{
        display: inline;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;
      }
    }
    .trythis{
      font-size: .9rem;
    }
  }
}

@media screen and (min-width: 1000px){
  section{
    h3{
      text-align: left;
    }
    .sizeBox{
      background-color: rgba(25, 255, 218, .4);
      border: 1px groove rgba(0, 0, 0, .7);
      border-radius: 5px;
      box-shadow: 3px 4px 2px 1px rgba(0, 0, 0, .7);
      padding: 1.5rem 3rem;
      width: 50vw;
      p{
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
      }
      span{
        font-size: 1.2rem;
        font-weight: 500;
        text-shadow: 1px 1px rgba(0, 0, 0, .4);
      }
      .span{
        display: inline;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}